
<ul>
    <li class="cont">
      <h2>Predicación</h2>
      <ul class="card">
        <li >
          <a [routerLink]="['/grupos']">
            <i class="ic-schedule"></i>
            <span>Grupos de predicación del mes</span>
          </a>
        </li>
      <li>
        <a [routerLink]="['/territorios']">
            <i class="ic-map2"></i>
            <span>Territorios para la semana</span>
          </a>
      </li>
      <li>
          <a [routerLink]="['/mapa']">
            <i class="ic-map"></i>
            <span>Mapa de territorios</span>
          </a>
        </li>
      <li>
          <a target="_blank" href="https://drive.google.com/open?id=1VXo0nRyk-MGrrlK8RsXPhebhwGe7W2er&usp=sharing">
            <i class="ic-road"></i>
            <span>Territorio Aislado: Cerrillos</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="cont">
      <h2>Reuniones</h2>
      <ul class="card">
        <li>
          <a [routerLink]="['/vida-y-ministerio']">
            <i class="ic-teach"></i>
            <span>Reunión Vida y Ministerio</span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/reunion-publica']">
          <i class="ic-conference"></i>
            <span>Reunión Pública</span>
        </a>
        </li>

        <li>
          <a [routerLink]="['/limpieza']">
        <i class="ic-clean"></i>
          <span>Programa de Limpieza</span>
      </a>
      </li>
      </ul>
    </li>

    <li class="cont">
      <h2>Congregación</h2>
      <ul class="card">
        <li>
          <a [routerLink]="['/publicadores']">
            <i class="ic-people"></i>
            <span>Grupos de publicadores</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/responsabilidades']">
            <i class="ic-organization"></i>
            <span>Responsabilidades</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>