*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    padding-top: 80px;
    overflow-x: hidden;
}
.btn{
    width: 30px;
    height: 30px;
    background:#CCC;
    border-radius: 5px;
    position: fixed;
    top: 25px;
    left: 9px;
    z-index: 10;
    text-align: center;
    line-height: 30px;
}
a.btn {
    text-decoration: none;
    color: #444;
    transform: rotate(180deg);
}

*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}
body{
  padding-top: 80px;
  overflow-x: hidden;
}
.event{
  width:90%;
  padding:0px;
  background:#D2FBE7;
  margin:20px auto;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  border-radius:5px;
  box-shadow: 2px 2px 10px #D2FBE7; 
}
.event .row{
  width:70%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  color:#424242;
  padding:10px;
}
.event .row .place{
  font-size:4vw;
  font-weight:900;
  display:flex;
  align-items:center;
}
.event .row .place img{
  width:20px;
}
.event .day .time{
  display:flex;
  align-items:center;
  margin:5px 2px;
  font-size: 9pt;
}
.event .day .time img{
  width:10px;
}
.event .day{
  width:20%;
  background:#c7f9e2;
  color:#424243;
  font-weight:900;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:10px;
  border-radius:0 5px 5px 0;
}
.event .day .number{
  font-size:25pt;
}
@media screen and (min-width: 750px){
  .event{
  width:60%;
}
  .event .row .place{
    font-size: 14pt;
  }
}

